{% extends "./base.html.twig" %}

{% block body %}
	<div class="w-4/5 m-auto text-left">
		<div class="py-15">
			<h1 class="text-6xl">
				Edit Movie Review
			</h1>
		</div>
	</div>

	<div class="w-4/5 pt-20 m-auto">
		{{ form_start(form )}}

		{{ form_widget(form) }}
		<button type="submit" class="px-8 py-4 text-lg font-extrabold text-gray-100 uppercase bg-blue-500 mt-15 rounded-3xl">
			Submit Review
		</button>
		{{ form_end(form )}}
	</div>
{% endblock %}
