{% extends "base.html.twig" %}

{% block title %}
	Movies Page
{% endblock title %}

{% block body %}
	<ul>
		{% for movie in movies %}

			<li>{{ movie }}</li>

		{% endfor %}
	</ul>

{% endblock body %}
