{% extends "base.html.twig" %}

{% block title %}
	Movies Page
{% endblock title %}

{% block body %}
	<h5 class="bg-blue-500 text-2xl text-center font-bold">Bienvenue!</h5>
	<img src="{{ asset('build/images/image-01.1417b1cd.jpg') }}" alt="">

{% endblock body %}
